<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Workout App</span>
        <span class="spacer"></span>
        <div>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput placeholder="username">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" color="red">
            </mat-form-field>
        </div>
    </mat-toolbar-row>
</mat-toolbar>