<div  class="container-fluid">
    <div *ngIf="workouts.length > 0; else elseBlock">
        <h3>{{ formattedDate }}</h3>
        <div *ngFor="let workout of workouts">
            <h5>{{ timeMap.get(workout) }}</h5>
            <table class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Sets</th>
                        <th>Repetitions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let exerciseGroup of workout.exerciseGroups" [routerLink]="['/exercise/', exerciseGroup.exercise.id]">
                        <td>{{ exerciseGroup.exercise.name }}</td>
                        <td>{{ exerciseGroup.sets }}</td>
                        <td>{{ exerciseGroup.repetitions }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-template #elseBlock>
        <div>
            <p>You have no workouts planned for today!</p>
        </div>
    </ng-template>
</div>