<div class="card">
    <h3 class="text-center">{{ workoutDay.dayName }}</h3>
    <h5 class="text-center">{{ workoutDay.formattedDate }}</h5>
    <div class="card mb-2 ml-2 mr-2">
        <div *ngIf="workoutDay.workouts; else elseBlock" class="card-body p-1">
            <div *ngFor="let workout of workoutDay.workouts; index as i">
                <h6 class="text-center">{{ getFormattedTimeForWorkout(i) }}</h6>
                <ul>
                    <li *ngFor="let exercise of workout.exerciseGroups">{{ exercise.exercise.name }}</li>
                </ul>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="card-body p-1">
                <p>You have no workouts planned for today!</p>
            </div>
        </ng-template>

        <button class="btn btn-info ml-2 mb-2 mr-2">Add Workout</button>
    </div>
</div>