<div class="container-fluid h-100">
    <div class="row">
        <div class="col text-center mt-2 mb-2">
            <h3>{{ monthName }}</h3>
        </div>
    </div>
    <div class="table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th *ngFor="let day of daysOfWeek" scope="col" class="text-center">{{ day }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of [0, 1, 2, 3, 4]">
                    <td *ngFor="let j of [0, 1, 2, 3, 4, 5, 6]"><app-workout-day [workoutDay]="dayMatrix[i][j]"></app-workout-day></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>